<% @projects.each do |project| %>
<div>
  <div class="project_header">
    <h3><%= link_to project.name, project %></h3> 
    <%= link_to 'Edit', edit_project_path(project) %> 
    <%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %>    
  </div>
  <div class="add_task_field">
    <%= form_for :task, :url => tasks_path do |f| %>
      <%= f.hidden_field :project_id, :value => project.id %>
      <%= f.text_field :name, :placeholder => "Start typing here to create a task..." %>
      <%= f.submit "Add Task" %>
    <% end %>
  </div>
  <ul>
    <% project.tasks.each do |task| %>
    <li>
      [<%= task.done ? "+" : "-" %>] <%= task.name %>
    <%= link_to 'Edit', edit_task_path(task) %>
    <%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %>
    </li>
    <% end %>
  </ul>
</div>
<% end %>

<br />

<%= link_to 'New Project', new_project_path %>
